@charset "utf-8";

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--mainBgColor);
}

::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0.5);
}

* {
	margin: 0;
	padding: 0;
	top: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: all 500ms ease;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--mainBgColor) !important;
}


/* Variables */

/* Colors */
:root {
	/* --mainBgColor: #494d5f;
	--textcolor: #a0d2e8;
	--comp: #3a3e50; */
	/* --mainBgColor: #aabec6;
	--textColor: #1c2433;
	--comp: #82a5ba; */
	--mainBgColor: #f1f0ee;
	--textColor: #183f49;
	--comp: #7acfd6;
	--rev: #d9fbff;

}


.carousel-item {
	display: flex;
	height: 88vh;
	width: 100%;
	background-color: lightcoral;
	order: 2;
}

.carousel-item img {
	display: flex;
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
	order: 2;
}

/* Navbar */
.navbar {
	height: 12vh;
}

a.navbar-brand {
	font-size: 50px;
	font-weight: bolder;
	/* font-family: "Coming Soon", cursive; */
	padding-left: 20px;
	color: var(--textColor) !important;
}

ul li {
	padding-right: 30px;
}

ul li a {
	font-size: 20px;
}

/* Make this be an added class to the drop down when in mobile size(JS) 
ul.navbar-nav.ml-auto {
	background-color: var(--accent);
}
 */

nav#nav.navbar-dark.navbar-expand-lg.fixed-top.bg-dark {
	background-color: var(--comp) !important;
}


.dropdown-item {
	color: var(--textcolor) !important;
	font-size: 14px;
	font-weight: lighter !important;
}

.dropdown-menu {
	background-color: var(--comp) !important;
	border: none !important;
	border-top: 12%;
}

a.nav-link {
	color: var(--textColor) !important;
	font-weight: normal !important;
	font-size: 105%;
}

.navbar-expand .navbar-nav .dropdown-menu .dropdown-item:hover {
	background-color: #212427;
}

nav {
	top: 0;
	width: 100%;
}

/* Sections */
.section {
	margin: 0 0 0 0;
	padding: 0;
	max-height: 88vh;
	min-height: 88vh;
	max-width: 100%;
	min-width: 100%;
}

#sectionOne {
	margin-top: 12vh;
	background-color: var(--mainBgColor);
}

#sectionTwo {
	background-color: var(--comp);
	height: 100vh;
}

#sectionThree {
	background-color: var(--rev);
	height: 100vh;
	text-align: center;
	padding-top: 30px;
}

#reviews {
	display: flex;
	width: 100%;
	padding: 0px 50px;
}

.review {
	width: 25%;
}
