h1 {
    font-family: 'Bodoni Moda', serif;
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 62%;
    left: 5%;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    position: absolute;
    top: 72%;
    left: 5%;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
    background: #999;
}

#pp-nav li span,
.pp-slidesNav span {
    transition: all .5s ease;
}

.section {
    top: 12vh;
    background-size: cover;
}

#section1 {
    background-image: url(../images/timeline1.jpg);
}

#section2 {
    background-image: url(../images/timeline2.jpg);
}

#section3 {
    background-image: url(../images/timeline3.jpg);
}

#section4 {
    background-image: url(../images/timeline4.jpg);
}

#section5 {
    background-image: url(../images/timeline5.jpg);
}

#section6 {
    background-image: url(../images/timeline6.jpg);
}

.intro {
    background-color: rgba(20, 20, 20, 0.8);
    height: 100%;
    vertical-align: bottom;
}
