@charset "utf-8";
/* CSS Document */

.nav-link {
	transition: all 500ms ease;
	color: #fff;
}

.nav-link:hover {
	color: #eee;
}

.section {
	width: 100%;
	text-align: center;
}

.sectionHeader {
	display: inline-block;
	text-align: center;
	width: 50%;
	background-color: #65CCB8;
}

.nav-link.active {
	background-color: #57ba98 !important;
	border-color: #3b945e !important;
	color: #eee !important;
}

.sectionHeader h2 {
	font-weight: bold;
}

.sectionHeader p {
	font-size: 12pt;
}











