*{
	box-sizing: border-box;
}

#backgroundVideo {
  	position: fixed;
  	right: 0;
 	bottom: 0;
  	min-width: 100%;
  	min-height: 100%;
	
}

.content {
  	position: fixed;
  	color: #2f446b;
  	width: 100%;
  	padding: 20px;
	z-index: 1;
}

#brandOverviewBox{
	width: 100%;
}

section{
	overflow: hidden;
}

#brandOverviewContent{
	font-size: 100px;
	text-align: center;
}


