*{
	box-sizing: border-box;
    font-family: 'Montserrat', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#backgroundVideo {
  	position: fixed;
  	right: 0;
 	bottom: 0;
  	min-width: 100%;
  	min-height: 100%;
	
}

.content {
  	position: relative;
	margin-top: 220px;
  	color: white;
  	padding: 20px;
	z-index: 1;
	background: rgba(150, 150, 255, 0.4) ;
}

#brandOverviewBox{
	width: 100%;
}



#brandOverviewContent{
	font-size: 100px;
	text-align: center;
}


