@charset "utf-8";
/* CSS Document */

body {
	color: #fff;
	transition: all 500ms ease;
	font-family: 'Rubik', sans-serif;
	background-color: #65CCB8;
	overflow-x: hidden;
	overflow-style: none;
}

body::-webkit-scrollbar {
	display: none;
}

a:visited {
	color: #fff;
}

.dropdown-item {
	transition: all 500ms ease;
}

.dropdown-item:hover {
	background-color: #eee;
}

.navbar a, .navbar a:visited {
	color: #222;
}